@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
  scroll-behavior: smooth;

}

body
{
  min-height: 1000px;
  margin-left: 50px;
  margin-right: 50px;

}
::-webkit-scrollbar
{
  border-radius: 10px;
  width: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb
{
  background: #F08080;
  border-radius: 10px;
}
-webkit-grabbing
{
  cursor: progress;
}


section{
  padding: 100px;
}
                          /*------->BANNER<------*/

.banner
{
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(moda.jpg);
  animation:  2s infinite;

}
@keyframes pulse {

} pulse {
  50%{
    transform: scale(3);
  }
  100%{
    transition: scale(4);
  }

}
.banner .textBx
{
  max-width: 900px;
  text-align: center;
}
.banner .textBx h6
{
  font-size: 3em;
  color: #F08080;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h7
{
  font-size: 3.5em;
  color: #F08080;
  font-weight: 500;

}
.btn
{
  background: #F08080;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;

}
@keyframes animate
{
  100%
  {
    color:#F08080;
    box-shadow: none;

  }
  100%
  {
    color:#fff;
    box-shadow: 0 0 10px #F9B6B6,
                0 0 20px #F9B6B6,
                0 0 40px #F9B6B6,
                0 0 80px #F9B6B6,
                0 0 100px #F08080;
  }
}
.btn:hover
{
  letter-spacing: 3px;
}
header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding:40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky
{
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header.sticky .logo
{
  color:black;
}

header .logo
{

  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2.0em;
  letter-spacing: 7px;
  color: #fff;
  font-family: roboto,sans-serif;
  text-align: center;

}
header .logo:hover
{
  letter-spacing: 10px;
}
header ul
{
  position: relative;
  display: flex;
}
.logo
{

  display: flex;
}

header ul li
{
  position: relative;
  list-style: none;

}
header ul li:hover a
{
  letter-spacing: 2px;
}
header ul li a
{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #111;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;

}
header.sticky ul li a
{
  color: black;
}
.heading
{
  margin-top: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: #111;

}
.heading h2 span
{
  color: #F08080;
}
.heading h2
{
  font-weight: 600;
  font-size: 40px;
}

video
{
  max-width: 100%;
  flex-direction: column;

}
.info
{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.infoBx
{
  padding-right: 30px;


}
.info .infoBx
{
  position: relative;
  width: 100%;

}


.tex2 span
{
  font-size: 1.5em;
  font-weight: 700;
  color: #F08080;
}
.tex span
{
  font-size: 1.5em;
  font-weight: 700;
  color: #F08080;

}

.info .infoBx .vidBx
{
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 30px;
}
.info .infoBx .vidBx video
{
  position: absolute;
  top: 20px;
  left: 170px;
  width: 70%;
  height: 300px;
  object-fit: cover;
  justify-content: center;
  animation: ease-in animat 7s;
}
@keyframes animat {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1);
  }

}
.infoBx p
{
  font-size: 26px;
  text-align: justify;

}
.infoBx h2
{
  font-size: 32px;
  margin-bottom: 10px;
}

                          /* ---->TESTIMONIOS<---- */
.testimonios
{

  position: relative;
  max-width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 350px;
  margin: 0 20px;
  background: #fff;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin-top: 20px;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right
{
  background-image: none;
}

.testimonios .card
{
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  padding: 30px 30px;
  overflow: hidden;



}

.testimonios .card:hover .layer
{
  top: 0;
}

.testimonios .card .content
{
  position: relative;
  z-index: 2;
}

.testimonios .card .content p span
{
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #111;

}
.testimonios .card .content p
{
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #111;
}

.testimonios .card .content h2 span
{
  font-weight: bold;
  color: #F08080;
  font-size: 28px;
  transition: 0.5s;
}
.testimonios .card:hover .content h2 span
{
  color: #111;
}

                                /*CATALOGO*/
.testimonios .card .content .imgBx
{
  height: 300px;
  width: 250px;
  margin-bottom: 50px;
  radius: 50px;
}
#blusa1
{
  height: 300px;
  width: 250px;
}
#vestido1
{
  height: 300px;
  width: 250px;
}
#short1
{
  height: 300px;
  width: 250px;
}
#productos
{
  height: 100vh;
}
#comentarios
{
  max-height: 100vh;


}

footer
{
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  background-color: #f8d8dd;
  color: black;
}
.social
{
  margin-left: 400px;
}
.social ul
{
  position: relative;
  display: flex;
}
.social ul li
{
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
.social ul li a
{
  text-decoration: none;
}
.social ul li a .fa
{
  font-size: 4em;
  color: #f8d8dd;
}
.social ul li::before
{
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.social ul li:nth-child(1)::before
{
  content: '\f09a';
  color: blue;
}
.social ul li:hover::before
{
  height: 100%;
}
.social ul li:nth-child(2)::before
{
  content: '\f16d';
  color: orangered;
}
.social ul li:hover::before
{
  height: 100%;
}
.social ul li:nth-child(3)::before
{
  content: '\f232';
  color: #25d366;
}
.social ul li:hover::before
{
  height: 100%;
}



                          /*RESPONSIVE*/

@media (max-width: 991px)
{
  header,
  header.sticky
  {
    padding: 20px 50px;
    z-index: 1000;
  }
  header ul li a
  {

    font-size: 24px;
    margin: 10px;
  }
  .menu
  {
    position: fixed;
    top: 67px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

  }
  .menu.active
  {
    left: 0;

  }
  .btn
  {
    font-size: 1em;
  }
  .infoBx
  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  section{
    padding: 100px 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .banner
  {
    padding: 150px 50px 100px;
  }
  .banner h6
  {
    font-size: 1em;
  }
  .banner h7
  {
    font-size: 2em;
  }

  .toggle
  {
    width: 30px;
    height: 30px;
    background: url("https://img.icons8.com/color/48/000000/menu--v1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;

  }
  .toggle.active
  {
    background: url("https://img.icons8.com/fluent-systems-regular/48/000000/x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;

  }
  header.sticky .toggle
  {
    filter: invert(70%);
  }
  header .logo
  {
    font-size: 1.5em;
    margin-left: 20px;
  }
  .info
  {
    margin-bottom: -80px;
  }
  .infoBx
  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .info .infoBx .vidBx
  {
    position: relative;
    min-width: 50%;
    height: 300px;
    margin-top: 20px;
  }
  .info .infoBx .vidBx video
  {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 300px;
    object-fit: fill;
    justify-content: center;

}

footer
{
  margin-top: 70px;
  text-align: center;
  font-size: 18px;
  background-color: #f8d8dd;
  color: black;
}
.social
{

  margin-left: 0px;
}
.social ul li a .fa
{
  font-size: 1.5em;
  color: #F08080;
  margin-left: 30px;
}
.social ul li::before
{
  font-size: 1.5em;
  margin-left: 30px;
}


@media (max-width: 600px)
{
  header,
  header.sticky
  {
    padding:  20px 20px;

  }

}
/* ----------> CHATBOT <---------- */





/*-------->NEW PROJECT<-------------- */
