@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}
.testimonios
{
  position: relative;
  max-width: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009);

}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 350px;
  margin: 0 20px;
  background: #fff;

}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right
{
  background-image: none;
}

.testimonios .card
{
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #333;
  text-align: center;
  padding: 60px 40px;
  overflow: hidden;
}
.testimonios .card .layer
{
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#03a9f4, #e91ee3);
  z-index: 1;
  transition: 0.5s;
}
.testimonios .card:hover .layer
{
  top: 0;
}

.testimonios .card .content
{
  position: relative;
  z-index: 2;
}

.testimonios .card .content p
{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}
.testimonios .card .content .imgBx
{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow:hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.testimonios .card .content h2
{
  font-size: 18px;
  color: #fff;
}
.testimonios .card .content h2 span
{
  color: #03a9f4;
  font-size: 14px;
  transition: 0.5s;
}
.testimonios .card:hover .content h2 span
{
  color: #fff;

}

#img1
{
  width: 100px;
  height: 100px;
}
